<canvas id="canvas"></canvas>
<md-content id="content" class="md-padding">
  <section id="pattern">
    <div id="timer-row" layout="row" layout-align="end center">
      <div class="timer-button timer-{{index}}" ng-repeat="index in indexes"></div>
    </div>

    <div class="track-row" ng-repeat="instrument in instruments" data-sample="{{instrument.id}}" layout="row" layout-align="start center">
      <div flex>
        <p class="instrument-name" ng-click="selectRow($index, $event)">{{instrument.name}}</p> 
        <md-checkbox ng-model="instrument.muted" class="mute-checkbox" aria-label="Mute Checkbox">
          Mute
        </md-checkbox>
      </div>
      <div>
        <md-button class="beat light-primary-color md-raised" 
                   ng-click="instrument.steps[selectedPattern][$index] = !instrument.steps[selectedPattern][$index]" 
                   ng-class="{'active': step}" 
                   ng-repeat="step in instrument.steps[selectedPattern] track by $index" 
                   beatIndex="{{$index}}" aria-label="beat">
        </md-button>
      </div>
    </div>
  </section>

  <section id="effects" >
    <div class="effect-row" ng-repeat="instrument in instruments" ng-show="selectedRow == $index">
      <div layout="row" layout-align="start center">
        <p class="headline" flex>Effects for {{instrument.name}}</p>
        <md-select class="effect-select" placeholder="Select Effect" ng-model="selectedEffect">
          <md-option class="effect-option" ng-repeat="effect in effects" ng-click="instrument.selectedEffect = $index" value="{{instrument.id + '' + effect.id}}">{{effect.name}}</md-option>
        </md-select>
      </div>
      <div>
        <div class="volume-block" ng-show="instrument.selectedEffect === 0">
          <p class="label">Volume</p>
          <md-slider class="volume-slider" ng-model="instrument.volume" min="0" max="10" step="1" aria-label="Volume Slider"></md-slider>
          <p class="label">Tune</p>
          <md-slider class="tune-slider" ng-model="instrument.tune" min="0.5" max="1.5" step="0.05" aria-label="Tune Slider"></md-slider>         
        </div>

        <div class="filter-block" ng-show="instrument.selectedEffect === 1">
          <p class="label">Filter</p>
          <div layout="row" layout-align="start center">
            <md-select class="filter-select" placeholder="Select Filter" ng-model="instrument.filter">
              <md-option class="filter-option" ng-repeat="filter in filters" value="{{filter.id}}">{{filter.name}}</md-option>
            </md-select>
            <md-slider class="filter-slider" ng-model="instrument.filterFreq" min="0" max="100" step="1" aria-label="Filter Frequency Slider"></md-slider>
          </div>
        </div>

        <div class="delay-section" ng-show="instrument.selectedEffect === 2">
          <div flex="30" class="delay-block">
            <p class="label">Delay Time</p>
            <md-slider flex class="delay-slider" ng-model="instrument.delayTime" min="0" max="2000" step="100" aria-label="Delay Time Slider"></md-slider>
          </div>
          <div flex="30" class="delay-block">
            <p class="label">Delay Feedback</p>
            <md-slider flex class="delay-slider" ng-model="instrument.delayFeedback" min="0" max="0.9" step="0.1" aria-label="Delay Feedback Slider"></md-slider>
          </div>
          <div flex="30" class="delay-block">
            <p class="label">Delay Cutoff</p>
            <md-slider flex class="delay-slider" ng-model="instrument.delayCutoff" min="100" max="10000" step="100" aria-label="Delay Cutoff Frequency Slider"></md-slider>
          </div>
          <div>
            <md-button class="reset-delay" ng-click="resetDelay(instrument.index);">Reset Delay</md-button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="tempo-block">
    <p class="headline">Tempo</p>
    <div layout="row" layout-align="start center">
      <input class="tempo-label" disabled ng-model="tempo"/>
      <span class="tempo-label">BPM</span>
      <md-slider flex ng-model="tempo" min="60" max="240" step="2" aria-label="Tempo Slider"></md-slider>
    </div>
  </section>

  <section id="controls" layout="row" layout-align="start center">
    <div class="buttons-wrap">
      <md-button ng-show="!isPlaying" ng-click="startPlaying();"><md-icon md-font-icon="icon-play_arrow" /></md-button>
      <md-button ng-show="isPlaying" ng-click="pausePlaying();">Pause</md-button>
      <md-button ng-click="stopPlaying();"><md-icon md-font-icon="icon-stop" /></md-button>
      <md-button ng-click="resetGrid();"><md-icon md-font-icon="icon-replay" /></md-button>
      <md-button ng-click="record();" ng-show="!isRecording"><md-icon md-font-icon="icon-lens" /></md-button>
      <md-button ng-click="stopRecord($event);" ng-show="isRecording">Stop Recording</md-button>
      <md-button ng-click="exportPattern()" id="export" >Export Pattern</md-button>
      <form ng-submit="importPattern()" ng-controller="MainCtrl">
        Enter File
        
        <md-input-container>
          <input name="jsonfile" ng-model="jsonfile" file-model="myFile" class="md-raised" type="file">
        </md-input-container>
        <md-button type="submit" id="export" >Import Pattern</md-button>
  
      </form>
    </div>
    <div flex></div>
    <div id="kit-block" layout="row" layout-align="start center">
      <p>Drum Kit</p>
      <md-select class="kit-select" placeholder="Select Kit" ng-model="selectedKit">
        <md-option class="kit-option" ng-repeat="kit in kits" value="{{kit.path}}">{{kit.name}}</md-option>
      </md-select>
    </div>
  </section>

  <section id="pattern-block">
    <md-button ng-click="selectPattern($index)" ng-repeat="pattern in instruments[0].steps">Pattern {{$index+1}}</md-button>
    <md-button ng-click="addPattern()">+</md-button>
  </section>
</md-content>

